## Checking the mail is spam or not by using logistic regression algo

In [237]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

### Data collection and pre - processing

In [238]:
df = pd.read_csv("C:\\Users\\UTKARSH TIWARI\\Downloads\\mail_data.csv")

In [239]:

print(df)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [240]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

### replace the null values with null string

In [241]:
#mail_data = df.where((pd.notnull(df)),'')
mail_data =df

In [242]:
print(mail_data.head())

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

### checking the rows and columns of the data

In [243]:
mail_data.shape

(5572, 2)

In [244]:
mail_data.columns

Index(['Category', 'Message'], dtype='object')

### Label encoding as we have only two type od answer spam or ham

1) spam = 0 
2) ham = 1

In [245]:
mail_data['Category'].replace('spam', 0, inplace=True)
mail_data['Category'].replace('ham', 1, inplace=True)

C:\Users\utkarshh\AppData\Local\Temp\ipykernel_2968\2658315436.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mail_data['Category'].replace('spam', 0, inplace=True)
C:\Users\utkarshh\AppData\Local\Temp\ipykernel_2968\2658315436.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mail_data['Category'].replace('ham', 1, inplace=True)
C:\Users\utkarshh\AppData\Local\Temp\ipykernel_2968\2658315436.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  mail_data['Category'].replace('ham', 1, inplace=True)

In [246]:
mail_data.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

### Separating the text data in x ,y

In [247]:
x = mail_data['Message']
y = mail_data['Category']

In [248]:
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [249]:
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

In [250]:
x_train , x_test , y_train , y_test = train_test_split(x,y,random_state=3, test_size=0.2)

In [251]:
df

      Category                                            Message
0            1  Go until jurong point, crazy.. Available only ...
1            1                      Ok lar... Joking wif u oni...
2            0  Free entry in 2 a wkly comp to win FA Cup fina...
3            1  U dun say so early hor... U c already then say...
4            1  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         0  This is the 2nd time we have tried 2 contact u...
5568         1               Will ü b going to esplanade fr home?
5569         1  Pity, * was in mood for that. So...any other s...
5570         1  The guy did some bitching but I acted like i'd...
5571         1                         Rofl. Its true to its name

[5572 rows x 2 columns]

### feature extraction 
 we doing so that our logistic model will understand the numerical value as it does'nt work on the text value

In [252]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
import pickle


# Create and fit the vectorizer
vectorizer = TfidfVectorizer(min_df=1 , stop_words='english', lowercase=True)
X_train_transformed = vectorizer.fit_transform(x_train)

# Train the model
model = MultinomialNB()
model.fit(X_train_transformed, y_train)

# Save the model and vectorizer
pickle.dump(model, open('model.pkl', 'wb'))
pickle.dump(vectorizer, open('vectorizer.pkl', 'wb'))

In [253]:
# x_train_feature =feature_extraction.fit_transform(x_train)

In [254]:
# x_test_feature = feature_extraction.transform(x_test)

In [255]:
# print(x.dtype)
# print(y.dtype)

### converting them into int datatype so that our model can check

In [256]:
# y_train = y_train.astype('int')
# y_test = y_test.astype('int')

### Training the model

In [257]:
# from sklearn.naive_bayes import MultinomialNB
# model = MultinomialNB()

In [258]:
# model.fit(x_train_feature,y_train)

### Evaluating the model

In [259]:
# y_pred = model.predict(x_train_feature)

In [260]:
print(y_pred)

[1 1 1 ... 1 1 0]

### Checking the accuracy on training data

In [261]:
print(accuracy_score(y_pred,y_train))

0.9807045097599282

### Prediction on test data

In [262]:
# y_test_pred = model.predict(x_test_feature)
# print(accuracy_score(y_test_pred,y_test))

### Buiding the predictive model

In [263]:
# input_data = [''' Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
# ''']


# input_data_feature = feature_extraction.transform(input_data)

In [264]:
# prediction = model.predict(input_data_feature)

# if prediction[0] ==0 :
#     print("Spam mail")
# else :
#     print("This is ham mail(It is not spam)")

since its give 0 it means spam so out model is performing well

In [265]:
df.head

<bound method NDFrame.head of       Category                                            Message
0            1  Go until jurong point, crazy.. Available only ...
1            1                      Ok lar... Joking wif u oni...
2            0  Free entry in 2 a wkly comp to win FA Cup fina...
3            1  U dun say so early hor... U c already then say...
4            1  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         0  This is the 2nd time we have tried 2 contact u...
5568         1               Will ü b going to esplanade fr home?
5569         1  Pity, * was in mood for that. So...any other s...
5570         1  The guy did some bitching but I acted like i'd...
5571         1                         Rofl. Its true to its name

[5572 rows x 2 columns]>

In [266]:
# import pickle
# pickle.dump(model, open('model.pkl','wb'))
# model = pickle.load(open('model.pkl','rb'))
# print(model.predict(x_test_feature))

In [267]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.naive_bayes import MultinomialNB
# import pickle

# # Example training data
# X_train = ["This is a spam message", "This is a ham message"]
# y_train = [1, 0]  # 1 = Spam, 0 = Ham

# # Create and fit the vectorizer
# vectorizer = TfidfVectorizer()
# X_train_transformed = vectorizer.fit_transform(X_train)

# # Train the model
# model = MultinomialNB()
# model.fit(X_train_transformed, y_train)

# # Save the model and vectorizer
# pickle.dump(model, open('model.pkl', 'wb'))
# pickle.dump(vectorizer, open('vectorizer.pkl', 'wb'))

In [268]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# vectorizer = TfidfVectorizer()
# X_train_transformed = vectorizer.fit_transform(x_train)  # Example preprocessing
# pickle.dump(vectorizer, open('vectorizer.pkl', 'wb'))